:root {
    --background-color: #f9f9f9;
    --text-color: #333;
    --primary-color: #0078d7;
    --secondary-color: #005bb5;
    --font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}
